@use 'sass:color';


$bg : #7ccdbc;
$bg-lighter : color.adjust($bg, $lightness: 5%);
$bg-darker : color.adjust($bg, $lightness: -10%);
$bg-darkest : color.adjust($bg, $lightness: -15%);
$bg-too-dark : color.adjust($bg, $lightness: -34%);
