nav { 

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a { 
            margin: 0 1.5rem;
            color: #000;
            font-family: "Operator Mono A", "Operator Mono B";
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            text-transform: lowercase;
        }

    }