@use './variables.scss' as vars;


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9rem;
    margin-bottom: 3rem;

    .container {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        margin-left: 1.5rem;
    }


     svg {


            margin: 1.5rem 1.5rem 0 0 ;
            width: 4.8rem;
            height: auto;
            align-self: flex-end;
             transition: all 0.3s ease;
            // margin-bottom: -1.9rem;

             path {
                fill: vars.$bg-too-dark;
            }
    }
}

nav { 

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ul {

            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

        }

        a { 
            margin: 0 1.5rem;
            color: #000;
            font-family: "Operator Mono A", "Operator Mono B";
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            text-transform: lowercase;
        }

    }