@use './variables.scss' as vars;
h1 {

    font-size: 2.8rem;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    // margin: 1rem auto 0rem auto;
    color: vars.$bg-too-dark;

    span {
      font-size: 2.8rem;
      font-family: "Cormorant Garamond";
      font-style: normal;
      font-weight: 700;
        color: white;
    }
}

h2 {

    // font-family: "Oswald", sans-serif;
    font-family: "Operator Mono A", "Operator Mono B";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 2rem;
    // text-transform: uppercase;
    // letter-spacing: 1px;
    color: vars.$bg-too-dark;
    // margin: 0 auto 5rem auto;
}

*, p {
      font-family: "Operator Mono A", "Operator Mono B";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.55;
}



.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
}

.oswald_700 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.oswald_500 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.oswald_300 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.operator {
    font-family: "Operator Mono A";
    font-size: 1rem;
}